<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Welcome to Nivelo</title>
   <link rel="icon" href="../public/images/icon.png">
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="../public/css/materialize.min.css">
   <link rel="stylesheet" href="../public/css/layout.css">
   <script src="../public/js/jquery-3.2.1.min.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="../public/js/materialize.min.js"></script>
   <link rel="stylesheet" href="../public/css/all.css">
  <link rel="stylesheet" href="../public/css/simplemde.min.css">
  <script src="../public/js/simplemde.min.js"></script>
  <style>
    textarea.materialize-textarea{height: auto;}
    .message{font-size:20px;color:#202020}
    .container{width: 1160px}
  </style>
</head>
<body>
    <div class="navbar-fixed">
      <nav class="grey lighten-5 z-depth-0" style="border-bottom:1px solid #dedede">
        <div class="container">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s2"><a href="/posts" class="btn white border b-lite z-depth-0"> <span class="fas fa-arrow-left"></span> Back</a></div>
              <div class="col s8 message center-align">Editing</div>
              <div class="col s2 right-align"></div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="error center-align l-padding" style="background:red;color:#ffffff;display:none"></div>
    {{#unless error }}
    <div class="container">
      <div class="row">
        <div class="col s12 m8 l8">          
          <form class="row" id="updatePost" action="/" method="POST">
                {{!-- start form --}}
                  <div class="row nm np">
                    <div class="input-field col s12 nm np">
                      <textarea id="title" name="title" class="materialize-textarea" style="font-size:35px!important;border:none!important" placeholder="Title" value="{{post.title}}">{{post.title}}</textarea>
                    </div>
                  </div> 
                  <div class="row nm np">
                    <div class="input-field col s12 nm np">
                      <textarea id="summary" name="summary" class="materialize-textarea"  style="font-size:22px!important;border:none!important"  placeholder="Summary" value="{{post.summary}}">{{post.summary}}</textarea>
                    </div>
                  </div>
                  <div class="row nm np">
                    <div class="input-field col s12 nm np">
                        <textarea id="content" class="materialize-textarea" value="{{post.content}}">{{post.content}}</textarea>
                    </div>
                  </div>
                <input type="hidden" id="id" name="id" value="{{post.id}}">
                <button type="submit" class="btn white border b-lite black-text z-depth-0"> <span class="fas fa-save"></span> Save</button>
            </form>
        </div>
        <div class="col s12 m4 l4">
          {{!-- box --}}
          <div class="box border grey darken-3 b-lite l-v-margin" style="padding-bottom:0!important">
            <h3 class="grey-text l-text black nm l-padding">LOGO IMAGE</h3>
            <div class="box-content center">
              <div class="image center">
                <img src="https://via.placeholder.com/300x150.png?text=LOGO" class="z-depth-4"  id="output" style="width:100%;height:auto;border-radius:10px" alt="LOGO">
              </div>
            </div>

            <form id="form" action="/" class="grey darken-2" style="padding:10px 15px" method="post" enctype="multipart/form-data">
              <input id="uploadImage" type="file" accept="image/*" name="upfile" onchange="loadFile(event)" />
              <input type="submit" style="border:0;padding:3px 8px;margin:5px 0" class="white" value="Upload">
            </form>
            <div class="clear"></div>
            <div id="err" class="white-text" style="border:0;padding:3px 8px;"></div>
          </div>          
          {{!-- box --}}
          
          {{!-- box --}}
          <div class="box border b-lite l-v-margin">
            <h3 class="grey-text l-text grey nm lighten-4 l-padding">Genre</h3>
            <div class="box-content">
               <div class="chip">Politics</div>
               <div class="chip">Sports</div>
               <div class="chip indigo"><a href="#" class="bold white-text"> + </a></div>
            </div>
          </div>          
          {{!-- box --}}
          
          {{!-- box --}}
          <div class="box border b-lite l-v-margin">
            <h3 class="grey-text l-text grey nm lighten-4 l-padding">State: Draft</h3>
            <div class="box-content">   
              <br>           
              <button class="btn green darken-3 white-text z-depth-0" type="button">Publish Online</button>
              <br>
            </div>
          </div>          
          {{!-- box --}}
          
          {{!-- box --}}
          <div class="box red lighten-5 border b-lite l-v-margin">
            <h3 class="grey-text text-darken-1 l-text red lighten-5  nm lighten-4 l-padding">Danger zone</h3>
            <div class="box-content">   
              <br>           
              <button class="btn red darken-3 white-text z-depth-0" type="button">Delete Post</button>
              <br>
            </div>
          </div>          
          {{!-- box --}}

        </div>
      </div>
    </div>
    {{else}}
    <div class="container">
      <div class="row center-align">
        <div class="image">
          <img src="../public/images/404.png" style="width:350px;height:auto" alt="Error 404">
        </div>
        <h3 class="bold">Sorry, no post found!</h3>
        <a href="/posts" class="btn grey darken-3 white-text z-depth-0">Return to Posts</a>
    </div>
    {{/unless}}
    <script>
   // var editor = new Simditor({
      //textarea: $('#editor')
    //});
    var simplemde = new SimpleMDE({ element: document.getElementById("content") });
    </script>
    <script src="../public/js/put.js"></script>
    <script>
      $(document).ready(function (e) {
      $("#form").on('submit',(function(e) {
        ///uploading...  
        $("#err").html("Uploading...").show();      
        e.preventDefault();
        $.ajax({
            url: "https://kigali.herokuapp.com/upload/{{post.id}}",
            type: "POST",
            data:  new FormData(this),
            contentType: false,
                  cache: false,
            processData:false,
            beforeSend : function()
            {
              $("#preview").hide();
              $("#err").hide();
            },
            success: function(data){
              if(data=='invalid')
              {
                $("#err").html("Invalid File!").show();
              }else{
                $("#err").html(data).show();
                $("#preview").html(data).show();
                $("#form")[0].reset(); 
              }
            },
            error: function(e){
              $("#err").html(e).show();
            }          
          });
        }));
      });
      var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
</body>
</html>