<div class="container">

<h3 class="bold">Posts</h3>
<ul class="list-inline subnav">
  <li class="active"><a href="#">Drafts</a></li>
  <li><a href="#">Published</a></li>
</ul>
<div class="col s12 m12 l12">
{{#each posts}}
  <div class="onepost row">
    <div class="col s2 profile">
      {{#if this.logo }}
      <img src="{{this.logo}}" class="" alt="{{this.title}}">
      {{else}}
      <img src="../public/images/400x300.png?text=KIGALI" class="" alt="{{this.title}}">
      {{/if}}
    </div>
    <div class="col s10">
      <h2 class="black-text nm xl-text"><a href="#">{{ this.title }}</a></h2>
        <p class="grey-text">{{this.summary}}</p>
      <div class="action">
        <span class="grey-text text-darken-1"> <span class="fas fa-clock"></span> Created: Feb 14 </span>
        <a href="/posts/{{this.id}}"> <span class="fas fa-pen"></span> Edit</a>
        <a href="#" onclick="publish();"> <span class="fas fa-check"></span> Publish</a>
        <a href="#"> <span class="fas fa-delete"></span> Delete</a>
      </div>
    </div>
  </div>
{{/each}}
</div>
</div>
